@font-face {
  font-family: 'twist';
  src: url('./assets/fonts/TwistSans_Regular.otf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

* {
  font-family: 'twist', sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: none;

  -webkit-tap-highlight-color: transparent;
}

:root {
  --background: #fffdfd;
  --background-secondary: #eef0f3;

  --surface: #ffffff;
  --surface-hover: #f8f9fa;

  --border: #9da1a7;
  --border-light: #e8ebef;

  --text: #1c2025;
  --text-secondary: #202427;
  --text-muted: #383e48;

  --accent: #11e62a;
  --accent-hover: #981d25;
  --accent-soft: #f8e7e9;

  --active: #2563a6;
  --active-soft: #e8f0f8;

  --progress: #ef9610;
  --progress-soft: #f9f2e8;

  --finished: #15e16e;
  --finished-soft: #eef9f1;
  
  --cancelled: #ea7216;
  --cancelled-soft: #f9f2e8;

  --info: #4b6478;
  --info-soft: #e9eef2;

  --shadow-sm: 0 0 10px rgba(2, 1, 1, 0.189);
  --shadow-md: 0 3px 10px rgba(31, 41, 51, 0.08);
}


